:root {
  --number-16: 16px;
  --number-16-rem: 1rem;
  --colour-call-to-action: #dbfc56;
  --call-to-action-hover: #f0feb9;
  --colour-black-primary: #333046;
  --colour-white-white: #ffffff;
  --colour-border: #adacb5;
  --colour-white-secondary: rgba(255, 255, 255, 0.8);
  --colour-white-tertiary: rgba(255, 255, 255, 0.6);
  --colour-black-alt: #221f35;
  --number-24: 24px;
  --number-24-rem: 1.5rem;
  --number-8: 8px;
  --number-8-rem: 0.5rem;
  --number-12: 12px;
  --number-12-rem: 0.75rem;
  --colour-black-secondary: rgba(51, 48, 70, 0.8);
  --colour-black-tertiary: rgba(51, 48, 70, 0.6);
  --transition-effect: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--colour-black-primary);
  color: var(--colour-white-white);
  line-height: 1.6;
}
.container {
  margin: 0 auto;
  padding: 0 var(--number-16);
}
header {
  display: flex;
  padding: var(--number-12);
  justify-content: center;
  align-items: center;
  position: relative;
}
.logo {
  position: absolute;
  left: var(--number-12);
  /* Add these lines */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust this value as needed */
}
.logo a {
  color: var(--colour-white-white);
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  transition: var(--transition-effect);
  display: inline-block; /* Add this line */
}
.logo a:hover,
.logo a:focus {
  color: var(--colour-call-to-action);
  text-decoration: none; /* Ensure no underline on hover/focus */
}
nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  display: inline-flex;
  padding: var(--number-8) var(--number-16);
  align-items: center;
  gap: var(--number-8);
  text-decoration: none;
  color: var(--colour-white-tertiary);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: var(--transition-effect);
}
nav ul li a:hover{
  color: var(--colour-call-to-action);
}
nav ul li a.active {
  color: var(--colour-call-to-action);
  font-weight: 600;
}
main {
  display: flex;
  width: 560px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--number-24);
  margin: 50px auto;
}
.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2 {
  color: var(--colour-white-white);
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -2px;
  text-align: center;
}
h1 {
  margin-bottom: 0;
}
h2 {
  margin-top: 2px;
}
h1 span,
h2 span {
  color: var(--colour-call-to-action);
}
p {
  color: var(--colour-white-secondary);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}
.buttons {
  display: flex;
  justify-content: center;
  gap: var(--number-16);
}
.btn {
  display: flex;
  padding: var(--number-8) var(--number-16);
  align-items: center;
  gap: var(--number-8);
  border-radius: var(--number-16);
  text-decoration: none;
  font-weight: bold;
  transition: var(--transition-effect);
}
.btn-primary {
  background: var(--colour-call-to-action);
  color: var(--colour-black-primary);
}
.btn-primary:hover {
  background: var(--call-to-action-hover);
}
.btn-secondary {
  border: 1px solid var(--colour-call-to-action);
  color: var(--colour-call-to-action);
  background: transparent;
}
.btn-secondary:hover{
  border-color: var(--call-to-action-hover);
  color: var(--call-to-action-hover);
}

@media (max-width: 768px) {
  header {
    padding: var(--number-12);
  }
  .logo {
    display: none;
  }
  nav {
    margin-top: 0;
  }
  main {
    width: 100%;
    padding: 30px 0;
  }
  h1,
  h2 {
    font-size: 32px;
  }
  h2 {
    margin-top: -3px;
  }
}
